/*Color*/
:root {
    --color-bg: #1b1a19;
    --color-surface: #2a2927;
    --color-accent: #8d745b;
    --color-text: #f5f5f5;
    --color-border: #3a3734;
}


/* Global */
body {
    font-family: 'Urbanist', sans-serif;
    background-color: #1b1a19;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1b1a19;
}

/* Animations */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.animate-fade-in {
    animation: fade-in 0.4s ease-out both;
}

.animate-fade-in-out {
    animation: fade-in-out 3s ease-in-out forwards;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
