@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globales con tu paleta */
body {
    background-color: #080705; /* primary */
    color: #FFFFFA;            /* light */
    font-family: Arial, sans-serif;
}

button {
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    transform: scale(1.02);
}

input:focus {
    outline: 2px solid #912F40; /* accent2 */
}
